
.body-cad{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
  
}


.card-cad {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 400px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #0d009c
}

input{
  width: 98%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #0d009c;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

button{
  background-color: transparent;
  border-color: #0d009c;
  color: #0d009c;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
  display: flex;
  justify-content: center;
}

button:hover{
  background-color: #0d009c;
  color: #fff;
}

.span-error{
  color: red;
  font-size: 13px;
}

fieldset{
  border-radius: 4%;
}